<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" >
    <i class="icon-th-list"></i> Important Links
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    <div id="otherlinks">
  
    <li><a href="http://www.libs.uga.edu/password.html">Password for Off-Campus Access</a></li>
    <li><%= link_to "Reference Tools (encyclopedias, etc.)", :controller=>"subjects", :action=>"list", :subject=>"90" %></li>
    <li><a href="http://www.libs.uga.edu/ejournals/">Electronic Journals Title Search</a></li>
    <li><a href="http://www.libs.uga.edu/ref/citation.html">Working with Citations</a></li>
    <li><a href="http://www.libs.uga.edu/proxy_url.html">Direct URLs for Databases and E-Journals</a></li>
  
  </div>
  </ul>
</div>
