  
  <div class="span4">
    <%= form_tag("list", :method=>'get', :class => 'form-horizontal',
                 :id => 'find_res_by_subject') do %>

    <%= label_tag "subject", "Choose Subject" %>
    <%= select_tag "subject", options_from_collection_for_select(@subjects, 'SubjectID', 'SubjectName'), :size => '25',
              :remote => 'true', :onchange => "update_resource_div(this.value)" %>

    <% end %>
      
  </div>
  <div class="span8" id="subResource"> 
    <%= render :partial => "resources/sublist", :local => { :resources => @resources,
     :subject => @subject } %>
  </div>