 
         


<div class="btn-toolbar">
 
  <div class="btn-group">
    
    <% Static::ALPHABET_LIST.each do |letter| %>

      <% if letter['key'] == 'L' then %>
        </br>
      <% end %>

      <%= link_to "#{letter['key']}", {:controller => "resources", :action => "list", :category=>"#{letter['value']}"}, :class => "btn" %>

    <% end %>
  </div>
  
  </br>
  
</div>
