<% provide(:title, "Resource List") %>

<div class="Resource list">
  <h4>DATABASE BROWSE RESULTS:</h4>
  
  <%= render(:partial => "/resources/atoz" ) %>
  <br>
    
  <div>
    <%= render(:partial => "/resources/reslist" ) %>
  </div>
</div>