<% provide(:title, "Resource List") %>

<div class="Resource list">
  <h2>Resources</h2>
  
  <%= render(:partial => "/resources/atoz" ) %>
  <br>
  <br>
    
  <div>
    <%= render(:partial => "/resources/sublist" ) %>
  </div>
</div>