<% provide(:title, "Resource List") %>

<div class="crumbtrail">
<a href="/">Home >></a>
Resource By Name
</div>

<div class="Resource list">
  <h3>DATABASE BROWSE RESULTS:</h3>
  
  <%= render(:partial => "/resources/atoz" ) %>
  <br>
    
  <div>
    <%= render(:partial => "/resources/reslist", :locals => {:collection => @resources }) %>
  </div>
</div>