@charset "UTF-8";

/* mixins, variables, etc. */
$linkColor:      #ff0000;
$linkColorHover: #0000ff;
$black: #000;
$greyLighter: lighten($black, 90%);  /* $grayMediumLight: #eaeaea;*/
$darkRed: #666666;

//@import "bootstrap";
//body { padding-top: 160px; border: 10px solid #eaeaea; } 

/*@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}*/

//@import "bootstrap-responsive";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */
/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

body {
	line-height: 1.5;
	position: relative;
	background: #fff;
	color: rgb(76, 67, 65);
	font-weight:normal;
	font-style:normal;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 13px;
}

.container {
  width:90%;
  padding: 1em 2.76%;
  
}

#main {
    //margin-top: 80px;
    //padding-top: 20px;
    display:block;
    position:relative;
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

.bold {
  font-weight: bold;
}



#wrapper  {

text-align: left;
width: 736px;
margin-left: auto;
margin-right: auto;
padding: 10px;

}

.fullinfo {
    background-color: #EFEFE9;
    border: 1px solid #3E3E6A;
    margin-bottom: 5px;
    padding: 10px;
    ul {
      margin-bottom: 5px;
    }
    li {
      padding: 10px 5px 5px 0;
    }
}

.btn-info {
  padding: 2px 10px;
}

.btn-link {
  padding: 4px 0px;
}

.otherlinks {
  a {
    color:#3e3e6a;
    &:hover { background:grey; color:#999; }
  }
}

#subjectList {
  padding: 0px 0px 0px 0;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: .1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 30px;
  //text-align: center;
  font-weight: normal;
  line-height: 1.5em;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


.galileo  {

margin: 0;
padding: 0;
width: 88%;
text-align: right;
color:#3e3e6a;  
font-size: 12px; 
font-weight: normal;
text-decoration: none;
}

label.control-label {
  margin-top: 20px;
}

/* content left panel */

.navbar-search {
    float: left;
    margin-bottom: 1.5em;
    margin-top: 5px;
    position: relative;
}

div.left-col {
    float: left;
    width: 30%;
    padding: 0 25px;

}

div.right-col {
    float: right;
    width: 50%;
    padding: 0 25px;
}

/* header */

.logo {
  float: left;
  top: 20px;
  margin-right: 10px;
  font-family:tahoma; 
  font-size: 23px; 
  letter-spacing: 0em;
  padding-top: 20px;
  font-weight: normal;
  line-height: 1;
  a {
    color: #fff;
    text-decoration: none;
  }  
}

#cse-search-box {
  margin: 0px;
}

.navbar .brand {
    color: #fff;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    margin-left: -20px;
    padding: 10px 20px 0px 20px;
    text-shadow: 0 0px 0 grey;
}

.navbar .nav > li > a {
    color: #fff;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 0px 0 white;
    &:hover { background: grey; color: #fff; }
}

.navbar-inner {
  background-color: #660000; /* replace redbox in the old php version */
  background-image: none;
  background-repeat: no-repeat;
  color:#ffffff;
  filter: none;

  /* height: 70px; */

}

#headername {
  
position:relative;
top:20px;
left:10px;
padding:0px;
font-family:tahoma; 
color:#ffffff;
font-size:23px; 
font-weight:normal;
}

#searchbox  {

font-family:tahoma; 
color:#ffffff;
font-size:11px; 
font-weight:normal;
padding: 20px 0px 0px 0px;

}

.portalheader {
position: relative;
top: 0px;
left: 10px;
width: 100%;
height: 37px;
background-color: #f1e5ab;
padding: 0px 0px 0px 0px;
margin-top: 0px;

}

.portalheader img {
float: left;
max-width: 100%;
}

.portalheader h2  {

font-family:garamond; 
color:#860000;
font-size:17px; 
font-weight:bold;
text-align: center;
margin-top: 0px;
padding-top: 12px;
margin-bottom: 0px;
}

.responsive-image { max-width:100%;}

#tabs {
  padding-top: 25px;
}

.tab-pane  > ul > li{
    display: block;
    padding: 8px 15px;
    border: 1px solid #E5E5E5;
    //border-radius: 4px 4px 4px 4px;
    margin-bottom: 2px;
}

ul.level1 > li {
	background: rgb(216, 213, 188);
        font-weight:normal;
}

ul.level1 > li:nth-child(even) {
	background: rgb(237, 228, 214);
        font-weight:normal;
}

.accordion-inner > ul {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 1.5em;
}

ul.level2 {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 1.5em;
}

/* footer */

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  font-size: 11px;
  color: #999;
  leftfooter {
    float:left;
    ul {
      display: block;
      list-style: none outside none;
      margin-bottom: 0;
      margin-top: 8px;
    }
    li {
    margin-left: -10px;
    }
  }
  
  a {
    color: #8C1717;
  }
  &:hover {
    color: #222;
  }
  small {
  float: left;
  }

}

.ugalogo {
    border: medium none;
    clear: right;
    float: right;
    padding: 5px;
}

.uga {
    font-size: 14px;
    margin-top: 0px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $greyLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* convert from CSS to SCSS
footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
*/