<footer class="footer">
  
<div class="leftfooter">
<ul>
<li><script src="/shared/lastupdate.js" language="javascript" type="text/javascript"></script></li>
<li><a href="http://resources.libs.uga.edu/contact/comment.html">Send us your comments about this site</a></li>
<li><SCRIPT src="/shared/copyright.js" LANGUAGE="JavaScript" type="text/javascript"></SCRIPT></li>
<li><SCRIPT src="/shared/location.js" LANGUAGE="JavaScript" type="text/javascript"></SCRIPT></li>
</ul>
</div><!--end leftfooter!-->

<div class="ugalogo"><a href="http://www.uga.edu"><img src="/shared/graphics/ugalogosmall.gif" /></a></div>
<div class="uga"><a href="http://www.uga.edu">University of Georgia</a></div>


</footer>