
  <!--
  <div class ='leftfooter'>
    <ul class="unstyled">
      <li><%= javascript_include_tag 'footer/lastupdate.js' %></li>
      <li><a href="http://resources.libs.uga.edu/contact/comment.html"><i class="icon-comment"></i> Send us your comments about this site</a></li>
      <li><%= javascript_include_tag 'footer/copyright.js' %></li>
      <li><SCRIPT src="/shared/location.js" LANGUAGE="JavaScript" type="text/javascript"></SCRIPT></li>
    </ul>
  </div>
  
  <div class="ugalogo">
    <a href="http://www.uga.edu"></a><img src="/assets/ugalogosmall.gif"  />
  </div>
  
  <div class="uga">
    <a href="http://www.uga.edu">University of Georgia</a>
  </div>
  -->
    


  <div class='copyright'>
    <ul class="unstyled">
      <li><%= javascript_include_tag 'footer/lastupdate.js' %></li>
      <li><a href="http://resources.libs.uga.edu/contact/comment.html"><i class="icon-comment"></i> Send us your comments about this site</a></li>
      <li><%= javascript_include_tag 'footer/copyright.js' %></li>
      <li><SCRIPT src="/shared/location.js" LANGUAGE="JavaScript" type="text/javascript"></SCRIPT></li>
    </ul>
  </div>
  <div class='icon'>
     <a href="http://www.uga.edu">University of Georgia  <img src="/assets/ugalogosmall.gif"  /></a>
  </div>
  
