      

<div class="row">

<div class="logo"><a href="http://www.libs.uga.edu" target="_blank">University of Georgia Libraries</a></div>



<div id="searchbox">
<!-- start query form -->
<form id="cse-search-box" action="http://www.libs.uga.edu/search/" autocomplete="off">
  <div>
   <span style="font-family:Arial, Helvetica, sans-serif;"><strong>SITE SEARCH:</strong></span>
    <input type="hidden" value="FORID:11" name="cof">
    <input type="hidden" value="google-coop" name="searchtype">
    <input type="text" size="20" name="term">
    <input type="image" align="absmiddle" value="Search" src="http://www-test.libs.uga.edu/shared/graphics/go2.jpg" name="sa">
  </div>
</form>
</div> <!--  end of searchbox  -->

</div> <!--  row    -->

<div class="row">
  <div class = "portalheader">
    <%= link_to image_tag( "http://www.libs.uga.edu/research/images/headergraphic.jpg", :border=>0 ), root_path %>
  </div> 
</div>